body {
  background-color: black;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  
  
}

.w-half {
  width: 50%;

}

.container {
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
}

.row {
  margin: 0 -1rem;
}

.hamburger-menu {
  color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.site-header {
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.site-navigation {
  text-align: right;
  position: relative;
}

.site-navigation ul {
  display: none;
}

.site-navigation li {
  display: inline-block;
  padding: 1.5rem 0;
}

.site-navigation li:not(:last-child) {
  margin-right: 1rem;
}

.site-navigation li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.w-100 {
  width: 100%;
  padding: 0 1rem;
}

.w-60 {
  width: 60%;
  padding: 0 1rem;
}

.w-40 {
  width: 40%;
  padding: 0 1rem;
}

.w-20 {
  width: 20%;
  padding: 0 1rem;
}

.w-33 {
  width: 33%;
  padding: 2rem 1rem;

}
.push-left{
float: left;
}

.hero-section{
  padding-top: 7rem;
}
.hero-section {
  background-image: url(../images/398cccdbf06327f954b6dec590c703b4.jpg);
  background-repeat: no-repeat;
  background-position:left;
  min-height: 110vh;
  padding-top: 7rem;
}

.hero-section .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.hero-content {
  color: rgb(0, 0, 0);
  min-height: 100vh;
  padding-top: 7rem;
}

.hero-content span {
  font-size: 1.5rem;
}

.hero-content h1 {
  font-size: 4rem;
}

.hero-content p {
  font-size:25px;
  margin-bottom: 2rem;
}
.work-section {
  padding: 4rem 0;
}

.work-section span {
  color: #ff1964;
  font-size: 1 rem;
}

.work-section h2 {
  color: white;
  font-size: 3rem;
  padding: 1rem 0rem;
}

.button-primary {
  background-color: #ff1964;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;

}

.button-primary:hover {
  background-color: #ff1964;
  border: #ff1964 solid 1px;
  transition: 1s;
}

.button-secondary {
  border: 1px solid white;
  color: white;
  margin-top: 10px;
  transition: 1s;
  text-decoration: none;
  
}

.card {
  height: fit-content;
  background-color: white;
  padding: 1.5rem;
  margin: 0 16px 16px 0;
  border: rgb(226, 224, 224) solid 1px;

}

.card h3 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.card p {
  margin-bottom: 2rem;
}

.card :hover {
  opacity: 80%;
  color: black(5, 56, 39);
  background-color: white;
}

.button-secondary:hover {
  background-color: #930132;
  border: #ff1964 solid 1px;
  transition: 1s;
}
.about-section{
  color: white;
}
.about-section p{    
  font-size: 1.5rem;
}
.about-section h2{
  font-size: 4rem;
}

.about-section img{
    width: 300px;
    height: 400px;
    object-fit: cover;
  }

@media (min-width:640px) {
  .container {
      max-width: 500px;
  }

  .hamburger-menu {
      display: none;
  }

  .site-navigation ul {
      display: block;
  }
}

@media (min-width:768px) {
  .container {
      max-width: 700px;
  }
}

@media (min-width:1020px) {
  .container {
      max-width: 900px;
  }
}

@media (min-width:1280px) {
  .container {
      max-width: 1200px;
  }
}

.contact-section{
  padding-top: 7rem;
color:white;
}

.contact-section{
  margin: 2rem;
  font-size: 1.5rem;
}
.w-50 {
  width: 50%;
  padding: 0 1rem;
}

.w-full{
  width:100%;
  padding: 0 1rem;

}
.form-field{
  width:100%;
  border:1px solid white;
  background:none;
  color:white;
  margin-bottom: 2rem;
  padding:5px 1rem;
}
.section-header h2{
  margin-bottom:3rem;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}